.container {
  width: 800px;
  margin: 0 auto;
}

nav {
  padding: 1rem 0;
  border-bottom: 1px solid black;
}

.login-button {
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
}

.logout-button {
  background-color: #AF4C50;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}